.classpath
.idea
.project
.settings
.DS_Store
.idea
artifacts
build
components/*/utils/*.class
emailable-report.html
index.html
target
test-output
testng-results.xml
testng.css
tools/*.jar
*.log
*.xpr
*.class
*.iml
.*.swp
*.clean

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
